.heading, h2, h3 {
    font-weight: 500;
    color: #d9d9d9d0;
    text-align: center;
    margin-top: 20px;
}

.external__link {
    color: #d9d9d9d0;
}

.external__link:hover {
    color: red;
}

.disabled-link:hover {
    text-decoration: none;
}